<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Super Ego</title>
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
